@model MenuItemViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--lecture4  1:41:00 minuts-->
<br />
<h2 class="text-info"> Menu Item Details (Edit MenuItem)</h2>
<br />

<form asp-action="Delete" methode="post">
    <input type="hidden" asp-for="MeNUitem.ID" />     <!--lecture3 01:41:01 minuts-->
    <input type="hidden" asp-for="MeNUitem.image" />

    <div class="whiteBackGround border row">
        <div class="col-8">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>        <!--lecture4   minuts-->
            <!--Name-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.Name" class="col-form-lable"></label>
                </div>

                <div class="col-8">
                    <input asp-for="MeNUitem.Name" class="form-control" readonly />    <!--lecture4  1:37:00 minuts  تم اضافة رييد اون لى-->
                </div>

            </div>
            <!--Dsecrepion-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.description" class="col-form-lable"></label>
                </div>

                <div class="col-8">
                    <textarea asp-for="MeNUitem.description" class="form-control" readonly></textarea>

                </div>

            </div>
            <!--Price-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.Price" class="col-form-lable"></label>
                </div>

                <div class="col-8">
                    <input asp-for="MeNUitem.Price" class="form-control" readonly />
                    <!--lecture4   minuts-->
                </div>

            </div>
            <!--image-->
            <!--category-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.CATEGOry.Name" class="col-form-lable"></label>  <!---->

                </div>

                <div class="col-8">
                    <select id="ddlCategories"
                            asp-for="MeNUitem.CATEgoryid" disabled asp-items="@(new SelectList(Model.categorieslisT,"id","Name"))" class="form-control"></select>    <!--MeNUitem.CATEgoryidهو عملها -->
                    <!--lecture4   minuts-->
                </div>

            </div>
            <!--subcategory-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.SUBcategory.Name" class="col-form-lable"></label>  <!---->

                </div>

                <div class="col-8">
                    <select id="ddlsubCategories" class="form-control"
                            asp-for="MeNUitem.SubCategOryid" disabled asp-items="@(new SelectList(Model.suBcategorieslisT,"id","Name"))"></select>
                    <!--lecture4   minuts-->
                </div>

            </div>
            <!--Spicnyness-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MeNUitem.Spicnyness" class="col-form-lable"></label>  <!---->

                </div>

                <div class="col-8">
                    <select class="form-control"
                            asp-for="MeNUitem.Spicnyness" disabled asp-items="@Html.GetEnumSelectList<MenItem.EspiCy>()"></select>  <!---->
                    <!--lecture4   -->
                </div>

            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_DeleteAndBackToListButtonPartial"  />
                </div>
            </div>
        </div>

        <div class="col-3 offset-1">
            <img src="@Model.MeNUitem.image" width="100%" style="border:5px solid #bbb9b9;border-radius:5px;" />
        </div>

    </div>
</form>

@section Scripts{          <!--lecture4 00 minuts-->

    <partial name="_ValidationScriptsPartial" />




}


