 <!--lecture3   23minuts-->
@model SubCategoryAndCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Add New SubCategories (Create SubCategory)</h2>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />   <!--lecture3 47 minuts-->
<div class="whiteBackGround border row">

    <div class="col-8 border-right">
        <form asp-action="Create" methode="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>        <!--lecture3 23 minuts-->
            //////////////////////////////////////
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCAtegory.caTegory.Name" class="col-form-lable"></label>  <!--***take care<=SubCAtegory.categoryId not SubCAtegory.caTegory.Name  =>  lecture3 24 minuts  -->
                </div>

                <div class="col-5">
                    <select class="form-control" id="ddlCategories"
                            asp-for="SubCAtegory.CategoryId" asp-items="@(new SelectList(Model.CategoriesList,"id","Name"))"></select> <!--***take care<=(((SubCAtegory.CategoryId not SubCAtegory.caTegory.Name))) =>lecture3 27:25 minuts  -->
                    <span class="text-danger" asp-validation-for="SubCAtegory.Name"></span>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCAtegory.Name" class="col-form-lable"></label>
                </div>

                <div class="col-5">
                    <input asp-for="SubCAtegory.Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="SubCAtegory.Name"></span>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-5 offset-3">
                    <!--<partial name="_CreateAndBackToListButtonPartial" />-->
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-primary form-control " value="create" />
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>



        </form>

    </div>
    <div class="col-3 offset-1">


        <p>Existing Sub Categories:</p>
        <div id="divSubCaegoriesList">

        </div>


    </div>
</div>
@section Scripts{

    <partial name="_ValidationScriptsPartial" />



  <script>
      
      function updateSubCategories() {                        //هعرف فن كشن هسميها

          var selectedCategory = document.getElementById("ddlCategories").value;
          $list = $('#divSubCaegoriesList');     //جى كويرى ...هعرف ليست ...هذا المتغير لسيت بيساوى الديف
          $.ajax({
              url: '/Admin/SubCategories/GetSubCATegories/' + selectedCategory,     //lecture3 56:51 minuts
              type: 'GET',
              dataType: 'text',  //   //lecture3 58 minuts
              success: function (data) {
                  results = JSON.parse(data);   //  هعرف ريزلت بتساوى جيسون....

                  $list.html(''); //  اعمل لها تفريغ 

                  $list.append('<ul  class="list-group">')   //  الليست دى ضيف داخلها يو ال
                  for (i in results) {

                      $list.append('<li  class="list-group-item">' + results[i].text + '</li>')

                  }
                  $list.append('</ul>');     //  بعد ما تخلص الفور لووب اعمل اغلاق للان اوردر لسيت
              }

          }

          );

      }
          $(document).ready(function () {  //   اشغل الفن كشن لما الشاشة تشتغل

              updateSubCategories();

          
      });
      $("#ddlCategories").on("change", function () {      //اشغل الفن كشن لما يحصل تغيير على الدروب داون لسيت بتاعة الكاتيجورى                    //lecture3 1:02:21 minuts

          updateSubCategories
      });
      
      </script>  
}







<!--notes from mind Erease-->
<div class="col-6 text-right">
    <p>Route==>Areas=>Admin=>F-Viwes=>F-SubCategories=>Create.cshtml </p>
</div>
<!--notes from mind  Erase-->
